*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 1440px;
}

@font-face {
  font-family: "Gotham Bold";    src: url(../stylesheet/fonts/gotham-bold.otf);   
}

@font-face {
  font-family: "Gotham Round";    src: url(../stylesheet/fonts/gotham-rounded-light.otf);   
}

@font-face {
  font-family: "Helvetica Light";    src: url(../stylesheet/fonts/helvetica-neue-light.ttf);   
}

@font-face {
  font-family: "Helvetica Medium";    src: url(../stylesheet/fonts/helveticaneue-medium.ttf);   
}

@font-face {
  font-family: "Helvetica Bold";    src: url(../stylesheet/fonts/helvetica-neue-bold.ttf);   
}

.backgroundGrayDark {
  background-color: #383838;
}

.pinkcolor {
  color: #d35266;
}

.backgroundPink {
  background-color: #d35266;
}

.graylightColor {
  color: #888;
}

.grayDarkColor {
  color: #383838;
}

.whitecolor {
  color: white;
}

.backgrounWhite {
  background-color: white;
}

.fontGotham-Bold {
  font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
}

.fontGotham-Round {
  font-family: "Gotham Round", Arial, Helvetica, sans-serif;
}

.fontHelvetica-Light {
  font-family: "Helvetica Light", Arial, Helvetica, sans-serif;
}

.fontHelvetica-Medium {
  font-family: "Helvetica Medium", Arial, Helvetica, sans-serif;
}

.fontHelvetica-Bold {
  font-family: "Helvetica Bold", Arial, Helvetica, sans-serif;
}

.btn-post-ad {
  border: solid 1px #d35266;
  border-radius: 2px;    
}

.header-dark-desktop {
  display: flex;
  height: 50px;
}

.header-dark-desktop div {
  align-self: center;
}

.header-dark-left {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.header-dark-right {
  display: flex;
  justify-content: space-around;
  width: 10%;
}

.header-dark-mobile {
  display: none;
}

.header-dark-mobile button {
  height: 30px;
}

.main-search {
  background-image: url(../images/backgroungImg.png);
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 360px;
}

.departament {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

.departament input {
  width: 240px;
}

.departament a {
  text-decoration: none;
  color: #888;
}

.departament a:hover {
  color: #d35266;
}

.main-tittle {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-items: center;
  margin: auto 0;
}

.main-tittle h1 {
  align-self: center;
  font-size: 90px;
}

.main-tittle p {
  align-self: center;
}

.btn-search {
  width: 80px;
  height: 35px;
  margin-left: 15px;
  border: solid 1px #383838;
}

.btn-hot-price {
  width: 50px;
}

.btn-hot-list {
  width: 180px;
}

.icon-less {  
  height: 298px;
  width: 43px;
}

.icon-less a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #d35266;
  font-size: 40px;
  background-color: black;
}

.ads-card {  
  width: 800px;
}

.ads-container {
  margin-top: 20px;
}

.iconSize {
  font-size: 25px;
}

.fonteSize18 {
  font-size: 18px;
}

.gamesImages {
  width: 249px;
}

.game-information {
  padding: 10px;
}

.card-container {
  height: 410px;
  border: solid 1px #888;
  background-color: white;
  border-radius: 2px;
  margin-top: 20px;
}

.products {
  background-color: rgb(244, 244, 244);
  padding-top: 50px;
}

.game-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

i.fa-plus {
  border: solid 1px;
  width: 25px;
  height: 25px;
  padding: 3px;
}

.section-games {
  display: flex;
  justify-content: space-between;
}

.category-header {
  border-bottom: solid 1px #888;
  padding-bottom: 5px;
  background-color: #d35266;
}

.footer-left {
  width: 70%;
}

.footer-right {
  width: 30%;
}

.categories-tittle {
  border-bottom: solid 1px #d35266;
}

.categories {
  display: flex;
  flex-direction: row;
}

.footer1 {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 33%;
}

.footer-text p {
  margin: 0 auto;
  padding: 8px;
}

.categories-items {
  width: 50%;
  padding-top: 5px;
}

.categories p {
  line-height: 1px;
}

.borderGray {
  border-top: solid 1px #888;
}

.borderRightGray {
  border-right: solid 1px #888;
}
.copyRight p {
  display: flex;
  padding-top: 10px;
  align-self: center;
  justify-content: space-around;
}

.fontSize13 {
  font-size: 12px;
}

/* ###############################################-----MEDIA QUERY----############################################### */

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */

@media (max-width: 767px) {
  .header-dark-mobile {
    display: flex;
    height: 50px;
  }

  .header-dark-desktop {
    display: none;
  }
}

